snippet begin "Test beginning" b
	Expand only if in the beginning of the line!
snippet inword "Test inword" i
	Expand this inside a word!
snippet word "Test word" w
	Expand this if it is keyword based!
snippet default "Test default"
	Expand only if space-delimited word present!
