name: CI
on:
  push:
    branches: 'master'
  pull_request:
    branches: 'master'
  schedule:
    - cron: 0 0 * * *

jobs:
  linux:
    strategy:
      matrix:
        version: [stable, v0.7.0, master]

    runs-on: ubuntu-latest

    steps:

      - name: Set current date
        id: vars
        run: |
          echo "::set-output name=current_date::$(date +'%Y-%m-%d')"

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        id: cache
        with:
          path: neovim
          key: ${{ runner.os }}-nvim-${{ matrix.version }}-${{ steps.vars.outputs.current_date }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake build-essential cmake gcc-11 gettext gperf libtool-bin locales ninja-build pkg-config unzip

      - name: Setup lua
        uses: leafo/gh-actions-lua@v8
        with:
          luaVersion: "luajit"

      - name: Setup luarocks
        uses: leafo/gh-actions-luarocks@v4

      - name: Setup vusted
        run: |
          luarocks install vusted

      - name: Run functional tests
        env:
          NEOVIM_BRANCH: ${{ matrix.version }}
        run: |
          make functionaltest

      - name: Run unit tests
        env:
          VIMRUNTIME: ${{ github.workspace }}/neovim/runtime/
          VUSTED_NVIM: ${{ github.workspace }}/neovim/build/bin/nvim
        run: |
          make unittest

      - name: Check formatting
        uses: JohnnyMorganz/stylua-action@v1
        with:
          version: v0.15.0
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --check lua/ test/
